html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
.message{
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.hoverSpan {
  padding: 4px;
  margin: 0;
  border-radius: 6px;
  cursor: default;
}
.hoverSpan:hover{
  transition: all .3s ease;
  background: #2d3748;
  color: #63b3ed;
}


@tailwind base;
@tailwind components;
@tailwind utilities;